<div class="container">

  <h1>Review Bookings (<%= @bookings.count %>)</h1>
  <div class="mb-3">
    <%= form_tag(search_bookings_path, method: :get) do %>
      <%= label_tag :search  %>
      <%= text_field_tag :search  %>
      <%= submit_tag 'search', class: 'btn btn-sm btn-dark'  %>
    <% end %>
  </div>

  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-sm-4 mb-3 mb-1">
        <div class="card">
          <div class="card-body">
            <% button_color = get_button_color(booking.status) %>
            <h5 class="card-title"><%= booking.name %></h5>
            <p class="card-title"><%= booking.booking_date.strftime("%m-%d-%Y %l:%M %p") %> <a href="#" class="btn btn-sm <%=button_color%>"><%= booking.status&.capitalize %></a></p>
            <p><%= link_to 'Review', edit_booking_path(booking), class: 'btn btn-primary' %> Booked by <%= booking.user.email %></p>
          </div>
        </div>
      </div>      
    <% end %>

  </div>

</div>
